<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SPM2" type="SPM2.Framework.Configuration.SPM2Configuration, SPM2.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7789025c6fd158a0" restartOnExternalChanges="false" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
  <SPM2>
    <!--
    The following providers are able to be defined with a custom type.
        AddIn
        Setting
        State
        Unknown
    -->
    <Providers>

      <!--add name="AddIn" type="SPM2.Framework.AddInProvider, SPM2.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7789025c6fd158a0" /> -->
    </Providers>
  </SPM2>
  
</configuration>
